.first-section
    height: 90vh
    .section-wrp
        width: 60%
        margin: 0 auto
        height: 100%
        display: flex
        justify-content: space-evenly
        .img-wrp
            display: flex
            flex-direction: column
            justify-content: center
            img 
                height: 90%

.text-wrp
    width: 32%
    display: flex
    flex-direction: column
    justify-content: space-evenly