.second-section
    height: 100vh
    width: 100%
    

//Slider


.slider
    height: 100vh
    width: 100%
    overflow: hidden
    .slide
        height: 100%
        width: 100%
        color: white 
        font-size: 2rem
        transition: all 100ms ease
        .buttons
            button
                background-color: transparent
                border: 2px solid $subHdrGrey
                &:hover
                    border-color: $greenColor
    .slide-one
        background-image: linear-gradient(to right top, #181819, #262a33, #2f3f4e, #315669, #2e6f81)
    .slide-two
        background-image: linear-gradient(to right top, #181819, #043a50, #00646f, #008d5a, #75ac08)
    .slide-three
        background-image: linear-gradient(to right top, #181819, #1b1d36, #1b2154, #1c2473, #212491)
    .slide-four
        background-image: linear-gradient(to left bottom, #f67d1b, #d14b4f, #8c385d, #442d47, #171718)
